<div class="container">
  <h1>Beers</h1>
  <div class="row">
    <% @beers.each do |beer| %>
      <div class="col-6 col-md-4">
        <div class="card">
          <%= image_tag beer.photo_url , class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= beer.name %></h5>
            <p class="card-text"><%= beer.category.name %></p>
            <%= link_to "More details", beer_path(beer), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
